<td class="col-rank">{{ rank() }}</td>
<td class="col-name player-name">
  <div class="player-name-content">
    <app-player-headshot class="player-headshot" [src]="player().headshot" [name]="player().name" />
    <span class="player-name-text">
      {{ player().name }}
      @if (canEditPositions()) {
        <button
          type="button"
          class="player-positions"
          [class.player-positions--overridden]="positionsOverridden()"
          [appPopover]="positionMenu"
          popoverAlign="start"
          [attr.aria-label]="'Positions for ' + player().name + ', ' + playerPosition()"
          [appTooltip]="
            positionsOverridden()
              ? 'You set these positions. Click to change them.'
              : 'Click to set the positions your league uses'
          "
        >
          ({{ playerPosition() }})
        </button>
      } @else {
        <span>({{ playerPosition() }})</span>
      }
    </span>
    @if (rookie()) {
      <span class="rookie-badge" appTooltip="Rookie this season">R</span>
    }
    @if (injury()) {
      <span class="injury-badge" [appTooltip]="injuryTooltip()">{{ injuryLabel() }}</span>
    }
    @if (player().teamAbbrev) {
      <span class="player-team">{{ player().teamAbbrev }}</span>
    }
    @if (belowMinGames()) {
      <span class="below-min-games" appTooltip="Projected below the league minimum in games played."
        >Below min. games</span
      >
    }
  </div>
</td>
@for (col of activeColumns().utility; track col) {
  <td class="col-{{ col }}">
    <app-stat-input
      [isStatApplicable]="isStatApplicable(col)"
      [playerId]="projection().playerId"
      [key]="col"
      [value]="getStatValue(col)"
      [decimalSettings]="decimalSettings()"
      [warning]="warningFor(col)"
      [readonly]="readonly()"
      (statInput)="statInput.emit($event)"
      (toiKeydown)="toiKeydown.emit($event)"
    />
  </td>
}
@for (col of activeColumns().scoring; track col) {
  <td>
    <app-stat-input
      [isStatApplicable]="isStatApplicable(col)"
      [playerId]="projection().playerId"
      [key]="col"
      [value]="getStatValue(col)"
      [decimalSettings]="decimalSettings()"
      [warning]="warningFor(col)"
      [readonly]="readonly()"
      (statInput)="statInput.emit($event)"
    />
  </td>
}
<td class="fan-pts-col fan-pts-cell">
  {{
    (scoringType() === 'category' ? playerScore().zScore : playerScore().fantasyPoints)
      | number: '1.0-2'
  }}
</td>

<ng-template #positionMenu>
  <app-position-menu
    [playerName]="player().name"
    [positions]="skaterPositions()"
    [overridden]="positionsOverridden()"
    [overriddenCount]="positionsOverriddenCount()"
    (positionsChanged)="positionsChanged.emit({ playerId: player().id, positions: $event })"
    (allReset)="positionsReset.emit()"
  />
</ng-template>
